<html>
<head>
    <title>EU Heatmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content='Navigation page for visualization of EU Referendum statistics from twitter.'/>
    <meta name="author" content="John Isaacs & Sophie Haynes"/>
    <script src="/scripts/leaflet.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/scripts/leaflet-heat.js"></script>
    <script src="/scripts/urlparam.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/scripts/leaflet.css" />
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet'/>
    <style>
        #map { width: 100%; height:80%; }
        #side { width: 100%; height: 5%; font-size: 1.3em;}
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
        .red{ color: #d57462;}
        .blue{ color: #628ad5}
        .yellow{ color: #f8dd14}
        #totals{display: block; height: 6em;}

    </style>

</head>
<body>
<div class="container text-center">
<h1>
  Tweet Heatmap
</h1>
<!---<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  Warning: Developer Currently Tweaking Code
</div>-->
<h4 class="text-muted">Heatmap showing tweet location and their subject. <span class='yellow'>Yellow</span>
  indicates discussion, <span class='red'>red</span> indicates Leave, and <span class='blue'>blue</span>
     indicates Remain.</h4>
<h5 class="text-muted">
  <i>This page may take 10-20 seconds to load, depending on your internet connection.
  </i>
</h5>
<hr>
<h4>
  <span id='totals'> </span>
</h4>
<hr>
<section id="wrapper">

  <section id="side">
    <input type="checkbox" class="chk" name="inbx" checked="checked"/> Remain
    <input type="checkbox" class="chk" name="outbx" checked="checked"/> Leave
  </section>
     <section id="map"></section>
</section>
</div>
<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script> -->

<script>




    var socket = io();
    var markers = getParameterByName('markers');

    socket.on('welcome', function(data) {
        addMessage(data.message);

        //socket.emit('mapready', {d:'ready'});
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });
    socket.on('eugeo', function(data) {
        addToMap(data);
    });
    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    //socket.on('error', console.error.bind(console));
    //socket.on('message', console.log.bind(console));
    //socket.on('data', console.log.bind(console));

    function addMessage(message) {
      document.getElementById('totals').innerHTML = message;
        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }
    function addToMap(p){
      var latlng = L.latLng(p.cord[0], p.cord[1], 0.5);
      //addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
      var tweet = p.tweet;
      if(tweet==null){
        console.log('No tweet to display!');
      } else{
          if(manualRemainCheck(tweet)){
            if (manualLeaveCheck(tweet)){
              nonLayer.addLatLng(latlng);
            } else{
              inLayer.addLatLng(latlng);
            }
          }
          else if (manualLeaveCheck(tweet)){
            if(manualRemainCheck(tweet)){
              nonLayer.addLatLng(latlng);
            } else{
              outLayer.addLatLng(latlng);
            }
          }
          else{
            nonLayer.addLatLng(latlng);
          }
  /*

      if(p.ineu=='true'){
        inLayer.addLatLng(latlng);
      }
      if(p.outeu=='true'){
        outLayer.addLatLng(latlng);
      }
      else{
        nonLayer.addLatLng(latlng);

      }
*/


    }
  }

    var map = L.map('map').setView([54.6983304,-1.2311024], 7);
    var tiles = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
    }).addTo(map);

    var inLayer = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.05,maxZoom:4,radius: 3,blur: 3, gradient:{0.0: 'white', 0.05: 'blue' }});
    var outLayer = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.05,maxZoom:4,radius: 3,blur: 3, gradient:{0.0: 'white', 0.05: 'red'    }});
    var nonLayer = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'yellow'    }});



    map.addLayer(nonLayer);
    map.addLayer(outLayer);
    map.addLayer(inLayer);


    $(".chk").click(function() {
      console.log($(this)[0].name);
      if($(this)[0].name == "inbx"){
        if($(this).is(':checked')){
          map.addLayer(inLayer);
        }
        else{
          map.removeLayer(inLayer);
        }

      }
      if($(this)[0].name == "outbx"){
        if($(this).is(':checked')){
          map.addLayer(outLayer);
        }
        else{
          map.removeLayer(outLayer);
        }
      }
    });

    function manualLeaveCheck(tweet){
      if (tweet.toLowerCase().indexOf('no2eu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('notoeu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('betteroffout') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('voteout') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('britainout') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('leaveeu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('voteleave') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('beleave') >= 0){
        return true;
      } else{
        return false;
      }
    };

    function manualRemainCheck(tweet){
      if (tweet.toLowerCase().indexOf('bremain') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('yes2eu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('yestoeu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('betteroffin') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('votein') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('ukineu') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('strongerin') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('leadnotleave') >= 0){
        return true;
      } else if (tweet.toLowerCase().indexOf('voteremain') >= 0){
        return true;
      } else{
        return false;
      }
    };

</script>
<footer class="text-center">
<hr>
  <div class ="container">
    <p class="text-muted">
      Copyright &copy 2016 All Rights Reserved
    </p>
  </div>
</footer>
</body>
</html>
