<html>
<head>
    <title>Holyrood Tweets</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/d3.v3.min.js'></script>
    <style>
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>

</head>
<body>

<p>
    Holyrood 2016
    <span id='totals'> </span>

</p>

<div id="tweets"></div>
<div id="graphs">
  <script>
  var snpc=0;
  var labc=0;
  var libc=0;
  var grec=0;
  var torc=0;
  var ukic=0;
  (function() {

  var n = 243,
      duration = 750,
      now = new Date(Date.now() - duration),
      count = 0,
      data = d3.range(n).map(function() { return 0; });

  var margin = {top: 6, right: 0, bottom: 20, left: 40},
      width = 960 - margin.right,
      height = 120 - margin.top - margin.bottom;

  var x = d3.time.scale()
      .domain([now - (n - 2) * duration, now - duration])
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var line = d3.svg.line()
      .interpolate("basis")
      .x(function(d, i) { return x(now - (n - 1 - i) * duration); })
      .y(function(d, i) { return y(d); });

  var svg = d3.select("body").append("p").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .style("margin-left", -margin.left + "px")
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



  svg.append("defs").append("clipPath")
      .attr("id", "clip")
    .append("rect")
      .attr("width", width)
      .attr("height", height);

  var axis = svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

  var path = svg.append("g")
      .attr("clip-path", "url(#clip)")
    .append("path")
      .datum(data)
      .attr("class", "line");
      var svg2 = d3.select("body").append("p").append("svg2")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .style("margin-left", -margin.left + "px")
            .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
              svg2.append("defs").append("clipPath")
                  .attr("id", "clip")
                .append("rect")
                  .attr("width", width)
                  .attr("height", height);

              var axis2 = svg2.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0," + height + ")")
                  .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

              var path2 = svg.append("g")
                  .attr("clip-path", "url(#clip)")
                .append("path")
                  .datum(data)
                  .attr("class", "line");

  var transition = d3.select({}).transition()
      .duration(750)
      .ease("linear");


  (function tick() {
    transition = transition.each(function() {

      // update the domains
      now = new Date();
      x.domain([now - (n - 2) * duration, now - duration]);
      y.domain([0, d3.max(data)]);

      // push the accumulated count onto the back, and reset the count
      data.push(snpc);
      count = 0;
      snpc=0;
      labc=0;
      libc=0;
      grec=0;
      torc=0;
      ukic=0;

      // redraw the line
      svg.select(".line")
          .attr("d", line)
          .attr("transform", null);

      // slide the x-axis left
      axis.call(x.axis);

      // slide the line left
      path.transition()
          .attr("transform", "translate(" + x(now - (n - 1) * duration) + ")");

      // pop the old data point off the front
      data.shift();
//clearcounts();

    }).transition().each("start", tick);
  })();

  })()
  </script>
</div>



<script>

 function clearcounts(){
   snpc=0;
   labc=0;
   libc=0;
   grec=0;
   torc=0;
   ukic=0;

 }

    var socket = io();


    socket.on('welcome', function(data) {
        addMessage(data.message);
        //socket.emit('graphready', {d:'ready'});
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });
    socket.on('tweet', function(data) {
        addMessage(data.tweet);
        if(data.party=='snp'){
          snpc++;
        }
        else if(data.party=='lab'){
          labc++;
        }
        else if(data.party=='lib'){
          libc++;
        }
        else if(data.party=='gre'){
          grec++;
        }
        else if(data.party=='tor'){
          torc++;
        }
        else if(data.party=='uki'){
          ukic++;
        }
console.log("count "+snpc);
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });

    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(tweet) {
      document.getElementById('tweets').innerHTML =
      "<h3>"+tweet+"</h3>"

        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }



</script>
</body>
</html>
