<html>
<head>
    <title>Leaflet.heat demo</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/scripts/leaflet-heat.js"></script>
    <script src="/scripts/urlparam.js"></script>
    <style>
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>

</head>
<body>

<p>
    Brexit and bremain
    <span id='totals'> </span>

</p>

<div id="map"></div>

<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script> -->

<script>



    var socket = io();
    var markers = getParameterByName('markers');

    socket.on('welcome', function(data) {
        addMessage(data.message);

        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });
    socket.on('time', function(data) {
        addToMap(data);

    });
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(message) {
      document.getElementById('totals').innerHTML = message;
        //var text = document.createTextNode(JSON.stringify(message));
            console.log(message);
    }
    function addToMap(p){
      console.log(p);
      var latlng = L.latLng(p.cord[0], p.cord[1], 1.0);
      //addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
      if(p.eu=='i'){
        yes.addLatLng(latlng);
      }
      else if (p.eu=='o'){
        no.addLatLng(latlng);
      }
      if(markers){
          L.marker(latlng).addTo(map);
      }

    }

    var map = L.map('map').setView([54.6983304,-1.2311024], 7);
    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);
    var yes = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:1,radius: 100,blur: 15, gradient:{0.4: 'blue', 0.65: 'lime', 1: 'red'}}).addTo(map);
    var no = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 20,blur: 15, gradient:{0.4: 'lightpink', 0.65: 'red', 1: 'darkred'}}).addTo(map);

</script>
</body>
</html>
