<html>
<head>
    <title>Leaflet.heat demo</title>
    <link rel="stylesheet" href="/scripts/leaflet.css" />
    <script src="/scripts/leaflet.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src="/scripts/leaflet-heat.js"></script>
    <script src="/scripts/urlparam.js"></script>
    <style>
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>

</head>
<body>

<p>
    Holyrood 2016
    <span id='totals'> </span>

</p>

<div id="map"></div>

<!-- <script src="../node_modules/simpleheat/simpleheat.js"></script>
<script src="../src/HeatLayer.js"></script> -->

<script>



    var socket = io();
    var markers = getParameterByName('markers');

    socket.on('welcome', function(data) {
        addMessage(data.message);
        //socket.emit('mapready', {d:'ready'});
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });
    socket.on('geo', function(data) {
        addToMap(data);
	console.log(data);

    });
    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(message) {
      document.getElementById('totals').innerHTML = message;
        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }
    function addToMap(p){
      console.log(p);
      var latlng = L.latLng(p.cord[0], p.cord[1], 0.5);
      //addressPoints = addressPoints.map(function (p) { return [p[0], p[1]]; });
      if(p.party=='snp'){
        snp.addLatLng(latlng);
      }
      else if(p.party=='lab'){
        lab.addLatLng(latlng);
      }
      else if(p.party=='lib'){
        lib.addLatLng(latlng);
      }
      else if(p.party=='gre'){
        gre.addLatLng(latlng);
      }
      else if(p.party=='tor'){
        tor.addLatLng(latlng);
      }
      else if(p.party=='uki'){
        uki.addLatLng(latlng);
      }


    }

    var map = L.map('map').setView([54.6983304,-1.2311024], 7);
    var tiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);
    var snp = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'yellow' }}).addTo(map);
    var lab = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'red'    }}).addTo(map);
    var lib = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'orange' }}).addTo(map);
    var tor = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'blue' }}).addTo(map);
    var gre = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'green' }}).addTo(map);
    var uki = L.heatLayer([[0,0,0],[0,0,0]], {minOpacity:0.1,maxZoom:7,radius: 10,blur: 15, gradient:{0.0: 'white', 0.1: 'purple' }}).addTo(map);

</script>
</body>
</html>
