<style>
/*Piechart CSS*/
body{width:1060px;margin:50px auto;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}path{stroke:#fff}path:hover{opacity:.9}.axis line,.axis path{fill:none;stroke:#000;shape-rendering:crispEdges}.x.axis path{display:none}.legend{font-size:16px}rect{stroke-width:2}.legend td{padding:4px 5px;vertical-align:bottom}.legendFreq,.legendPerc{align:right;width:50px}
/*Paragraph CSS*/
#words{width: 310px;margin-top: 40px;}.in{color: #dbdb8d}.out{color: #9edae5;}
/*title padding*/
.title{margin-bottom: 40px;}#padp{margin-top: 20px; margin-bottom: 30px;}
/*Padding for tweets*/
.panel-body{display: block; height: 15em;}
</style>

<script>
//get time of pageload
var currentdate = new Date();
var datetime =  currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/"
                + currentdate.getFullYear() + " @ "
                + currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds();

var inc = 1;
var outc = 1;
var otherc = 1;

//CODE TO MAKE PIE ===================================================

function piepie (countdata){
  //set pie dimentions
  var width = 300;
  var height = 300;
  var radius = Math.min(width, height)/2;
  var donutWidth = 75;

  //set legend dimentions
  var legendRectSize = 18;
  var legendSpacing = 4;

  //define own color scheme
  var color = d3.scale.ordinal()
    .range(['#9edae5', "#dbdb8d", "#c7c7c7"]);

  //create pie requisites
  var svg = d3.select('#piepie')
    .append('svg')
    .attr('width', width)
    .attr('height', height)
    .append('g')
    .attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')');

  //pie arc
  var arc = d3.svg.arc()
    .innerRadius(radius - donutWidth)
    .outerRadius(radius);

  //create pie object
  var pie = d3.layout.pie()
    .value(function(d) { return d.count; })
    .sort(null);

  var path = svg.selectAll('path')
    .data(pie(countdata))
    .enter()
    .append('path')
    .attr('d', arc)
    .attr('fill', function(d, i){
    return color(d.data.votetype);
  });

  //set legend dimentions
  var legend = svg.selectAll('.legend')
    .data(color.domain())
    .enter()
    .append('g')
    .attr('class', 'legend')
    .attr('transform', function(d,i){
    var height = legendRectSize + legendSpacing;
    var offset =  height * color.domain().length / 2;
    var horz = -2 * legendRectSize;
    var vert = i * height - offset;
    return 'translate(' + horz + ',' + vert + ')';
  });

  //make legend
  legend.append('rect')
    .attr('width', legendRectSize)
    .attr('height', legendRectSize)
    .style('fill', color)
    .style('stroke', color);

  //add text to legend
  legend.append('text')
    .attr('x', legendRectSize + legendSpacing)
    .attr('y', legendRectSize - legendSpacing)
    .text(function(d) { return d; });
}

function manualLeaveCheck(tweet){
  if (tweet.toLowerCase().indexOf('no2eu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('notoeu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('betteroffout') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('voteout') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('britainout') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('leaveeu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('voteleave') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('beleave') >= 0){
    return true;
  } else{
    return false;
  }
};

function manualRemainCheck(tweet){
  if (tweet.toLowerCase().indexOf('bremain') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('yes2eu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('yestoeu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('betteroffin') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('votein') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('ukineu') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('strongerin') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('leadnotleave') >= 0){
    return true;
  } else if (tweet.toLowerCase().indexOf('voteremain') >= 0){
    return true;
  } else{
    return false;
  }
};

function attatchTweet(id,tweet){
  $(id).text(tweet);
}

var countdata = [
  {"votetype":"Leave", "count":outc},
  {"votetype":"Remain", "count":inc}
];

var socket = io();
socket.on('error', console.error.bind(console));

socket.on('welcome', function(data){
  var tweet = data.tweet;
  if(tweet==null){
    console.log('No tweet to display!');
  } else{
    if(manualRemainCheck(tweet)){
      if (manualLeaveCheck(tweet)){
        otherc++;
      } else{
        inc++;
        countdata = [{"votetype":"Leave", "count":outc},{"votetype":"Remain", "count":inc}];
        $("#piepie").empty();
        pievar = piepie(countdata);
        attatchTweet('#staytweet', tweet);
        $('#inc').text(inc);
      }

    } else if (manualLeaveCheck(tweet)){
        if(manualRemainCheck(tweet)){
          otherc++;
        } else{
          outc++;
          countdata = [{"votetype":"Leave", "count":outc},{"votetype":"Remain", "count":inc}];
          $("#piepie").empty();
          pievar = piepie(countdata);
          attatchTweet('#leavetweet', tweet);
          $('#outc').text(outc);
        }
    } else{
      otherc++;
    }
  }
});

var pievar = piepie(countdata);
$('#time').text(datetime);
</script>
