extends ./layout

block header
  meta(name="description" content='Page showing dynamic piecharts about support for leave/remain on the EU Referendum based on live incoming twitter data.')
  meta(name="author" content="John Isaacs & Sophie Haynes")

  link(rel='stylesheet' href='/stylesheets/piestats.css')

block footer
  script(type='text/javascript' src='/scripts/piestats.js')

block content
  .container.text-center
    .row
      .col-md-5
        h1.
          Live Opinion Tracking
        h4.text-muted.
          Dynamic pie chart showing the live poll between #[span.in Remain] &amp; #[span.out Leave].
        hr
        h3#padp.text-muted.
          Tweets tracked since #[span#time]
        #piepie
        h3.text-muted.
          In: #[span#inc ] Out: #[span#outc ]
      .col-md-7
        hr.hidden-md.hidden-lg
        .row.panel-body
          h1.title.
            Most Recent #[span.in REMAIN] Tweet:
          h3#staytweet.text-muted
        hr
        .row.panel-body
          h1.title.
            Most Recent #[span.out LEAVE] Tweet:
          h3#leavetweet.text-muted
