
    <meta name="description" content=''/>
    <meta name="author" content="John Isaacs & Sophie Haynes"/>

    <script src="/scripts/cubism.v1.min.js"></script>



    <link href='/stylesheets/cubestyle.css', rel='stylesheet'/>
    <style>

    </style>

</head>
<body>
    <div class="boxie text-center">
        <nav>

        <h1>
            Live Tag Tracking
        </h1>
        <h4 class="text-muted">Graphs showing the general opinion of incoming tweets.</h4>
        <!--<div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Warning: Developer Currently Tweaking Code
        </div>-->
        <hr>
        <!--div to display new tweets-->
        <h3>Most Recent Tweet:</h3>
        <div id="tweets" class="text-muted"></div>
      <!--divs to display the cubism graphs-->
      <div id="staygraph" class ="party" ></div>
      <div id="leavegraph" class ="party" ></div>
      <div id="othergraph" class ="party" ></div>
  </div>
<script>
</script>
  <footer class="text-center">
  <hr>
    <div class ="container">
      <p class="text-muted">
        Copyright &copy 2016 All Rights Reserved
      </p>
    </div>
  </footer>
</body>
</html>
