<html>
<head>
    <title>Holyrood Tweets</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/d3.v3.min.js'></script>
    <script src="/scripts/cubism.v1.min.js"></script>




    <style>
      @import url(/stylesheets/cubestyle.css);
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
        .party {background-color: #878787;}
    </style>

</head>
<body>
<div id="top">
<p>
    Holyrood 2016
    <span id='totals'> </span>


</p>
<p>
  <span id='snp'> </span><span id='tor'> </span><span id='lab'> </span><span id='lib'> </span><span id='gre'> </span><span id='uki'> </span>
  <span id='snp1'> </span><span id='tor1'> </span><span id='lab1'> </span><span id='lib1'> </span><span id='gre1'> </span><span id='uki1'> </span>

</p>

<div id="tweets"></div>
</div>
<div id="snpgraph" class ="party" ></div>
<div id="labgraph" class ="party" ></div>
<div id="torgraph" class ="party" ></div>
<div id="libgraph" class ="party" ></div>
<div id="gregraph" class ="party" ></div>
<div id="ukigraph" class ="party" ></div>
<script>
function random(name) {
  var value = 0,
      values = [],
      i = 0,
      last;
      return context.metric(function(start, stop, step, callback) {
    start = +start, stop = +stop;
    if (isNaN(last)) last = start;
    while (last < stop) {
      last += step;
      //value = Math.max(-10, Math.min(10, value + .8 * Math.random() - .4 + .2 * Math.cos(i += .2)));
      if(name=="snp"){
        values.push(snpc);
        snpc =0;
        //if(snpc>0){snpc--};
      }
      if(name=="lab"){
        values.push(labc);
        labc=0;
        //if(labc>0){labc--};
      }
      if(name=="lib"){
        values.push(libc);
        libc=0;
        //if(libc>0){libc--};
      }
      if(name=="gre"){
        values.push(grec);
        grec=0;
        //if(grec>0){grec--};
      }
      if(name=="uki"){
        values.push(ukic);
        ukic=0;
        //if(ukic>0){ukic--};
      }
      if(name=="tor"){
        values.push(torc);
        torc=0;
        //if(torc>0){torc--};
      }

    }
    callback(null, values = values.slice((start - stop) / step));
  }, name);
}
var snpl=0;
var labl=0;
var libl=0;
var ukil=0;
var grel=0;
var torl=0;


var context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(1000)
    .size(300);

    var snp = random("snp");
    var lab = random("lab");
    var lib = random("lib");
    var tor = random("tor");
    var gre = random("gre");
    var uki = random("uki");


var snpc=0;
var labc=0;
var libc=0;
var ukic=0;
var grec=0;
var torc=0;


var dataSnp = [];

d3.select("#snpgraph").call(function(div)
{

  div.datum(snp);
  snpc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#FFFF4C","#FFFF00"])
      .title("SNP")
      .extent([0, 20]));
});
d3.select("#labgraph").call(function(div)
{

  div.datum(lab);
  labc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#FF564C","#CC0B00"])
      .title("Labour")
      .extent([0, 20]));
});
d3.select("#torgraph").call(function(div)
{

  div.datum(tor);
  torc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#4E4CFF","#0200CC"])
      .title("Tory")
      .extent([0, 20]));
});
d3.select("#libgraph").call(function(div)
{

  div.datum(lib);
  libc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#FFB54C","#FF9500"])
      .title("LibDem")
      .extent([0, 20]));
});
d3.select("#gregraph").call(function(div)
{

  div.datum(gre);
  grec =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#4CFF50","#00FF05"])
      .title("Green")
      .extent([0, 20]));
});
d3.select("#ukigraph").call(function(div)
{

  div.datum(uki);
  ukic =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#bdd7e7","#FF4CC8","#FF00B1"])
      .title("UKIP")
      .extent([0, 20]));
});

var socket = io();


    socket.on('count', function(data) {
        //console.log(data.count);
        //console.log(data[0]);
        document.getElementById('snp1').innerHTML = "SNP: "+data.count.snp+" ";
        document.getElementById('lab1').innerHTML = "Labour: "+data.count.lab+" ";
        document.getElementById('lib1').innerHTML = "LibDem: "+data.count.lib+" ";
        document.getElementById('tor1').innerHTML = "Tory: "+data.count.tor+" ";
        document.getElementById('uki1').innerHTML = "UKIP: "+data.count.uki+" ";
        document.getElementById('gre1').innerHTML = "Green: "+data.count.gre+" ";
    });
    socket.on('tweet', function(data) {
        addMessage(data.tweet);
        if(data.party=='snp'){
          snpc++;
        }
        else if(data.party=='lab'){
          labc++;
        }
        else if(data.party=='lib'){
          libc++;
        }
        else if(data.party=='gre'){
          grec++;
        }
        else if(data.party=='tor'){
          torc++;
        }
        else if(data.party=='uki'){
          ukic++;
        }
console.log("count "+snpc);
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });

    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(tweet) {
      document.getElementById('tweets').innerHTML =
      "<h3>"+tweet+"</h3>"

        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }

    //$(".party").animate({ 'zoom':  }, 0);









</script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
</body>
</html>
