<html>
<head>
    <title>EUREF Live Tracking</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/d3.v3.min.js'></script>
    <script src="/scripts/cubism.v1.min.js"></script>
    <style>

      @import url(/stylesheets/cubestyle.css);
      #map { width: 800px; height: 600px; }
      body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .ghbtns { position: relative; top: 4px; margin-left: 5px; }
      a { color: #0077ff; }
      .party {background-color: #ffffff;}
      .prettyFont {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: bold;}
    </style>

</head>
<body>
<div id="top">
<h2 class="prettyFont">
    EU Ref Live Tracking 2016
    <span id='totals'> </span>
</h2>
<div id="tweets"></div>
</div>
<div id="staygraph" class ="party" ></div>
<div id="leavegraph" class ="party" ></div>
<div id="othergraph" class ="party" ></div>
<script>

const leaveTags = ['no2eu','notoeu','betteroffout','voteout','britainout','leaveeu','voteleave','beleave'];
const remainTags = ['bremain','yes2eu','yestoeu','betteroffin','votein','ukineu','strongerin','leadnotleave','voteremain'];
const brexitTag = ['brexit'];

function manualLeaveCheck(tweet){
  if (tweet.toLowerCase().indexOf('no2eu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('notoeu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('betteroffout') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('voteout') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('britainout') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('leaveeu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('voteleave') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('beleave') >= 0){
    return true;
  }
  else{
    return false;
  }

};

function manualRemainCheck(tweet){
  if (tweet.toLowerCase().indexOf('bremain') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('yes2eu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('yestoeu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('betteroffin') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('votein') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('ukineu') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('strongerin') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('leadnotleave') >= 0){
    return true;
  }
  else if (tweet.toLowerCase().indexOf('voteremain') >= 0){
    return true;
  }
  else{
    return false;
  }

};

function tweetSearch(string, strings){
  for(var i=0; i<strings.length;i++) {
      if(string.toLowerCase().indexOf(strings[i])>=0){
        //console.log(entry);
        return true;
      }
      return false;
    };
}

function tweetSearch(string1, string2){
      if(string1.toLowerCase().indexOf(string2)>=0){
        //console.log(entry);
        return true;
      }
      return false;
}
function random(name) {
  var value = 0,
      values = [],
      i = 0,
      last;
      return context.metric(function(start, stop, step, callback) {
    start = +start, stop = +stop;
    if (isNaN(last)) last = start;
    while (last < stop) {
      last += step;
      if(name=="stay"){
        values.push(stayc);
        stayc =0;
      }
      if(name=="leave"){
        values.push(leavec);
        leavec=0;
      }
      if(name=="other"){
        values.push(otherc);
        otherc=0;
      }

    }
    callback(null, values = values.slice((start - stop) / step));
  }, name);
}
var stayl=0;
var leavel=0;
var otherl=0;

var context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(62.5)
    .size(960);

    var stay = random("stay");
    var leave = random("leave");
    var other = random("other");


var stayc=0;
var leavec=0;
var otherc=0;


var dataeuref = [];

d3.select("#staygraph").call(function(div)
{

  div.datum(stay);
  stayc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#9edae5","#8ec953", "#b4db8d"])
      .title("Stay")
      .extent([0, 10]));
});
d3.select("#leavegraph").call(function(div)
{

  div.datum(leave);
  leavec =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#9edae5", "#c98e53","#dbb48d"])
      .title("Leave")
      .extent([0, 10]));
});
d3.select("#othergraph").call(function(div)
{

  div.datum(other);
  otherc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(80)
      .colors(["#9edae5","#62c3d5", "#9edae5"])
      .title("Other")
      .extent([0, 10]));
});

var socket = io();
    socket.on('welcome', function(data) {
      /*document.getElementById('stay1').innerHTML = "Stay: "+data.count.stay+" ";
      document.getElementById('leave1').innerHTML = "Leave: "+data.count.leave+" ";
      document.getElementById('other1').innerHTML = "Other: "+data.count.other+" ";*/
      var tweet = data.tweet;
      if(tweet==null){
        console.log('No tweet to display!');
      }else{
        addMessage(tweet);
        //console.log(tweet);
        sortTweet(tweet);


        //if contains brexit

      };


    });

    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(tweet) {
      document.getElementById('tweets').innerHTML =
      "<h4>"+tweet+"</h4>"

        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }

    function sortTweet(tweet){
      /*if(tweetSearch(tweet, brexitTag)){
        //and contains stay tags
        if (tweetSearch(tweet, remainTags)){
          stayc++;
        }
        //and contains leave tags
        else if (tweetSearch(tweet, leaveTags)){
          leavec++;
        }
        //only contains brexit tag
        else{
          otherc++;
        }
      }
      //*/
      if(manualRemainCheck(tweet) == true){
        console.log("Remain Tag Found! Checking...")
        if (manualLeaveCheck(tweet) == true){
          console.log("Leave Tag Found! other++")
          otherc++;
          console.log(tweet);
        }
        else if(tweetSearch(tweet, 'brexit') == true){
          console.log("brexitTag Tag Found! stay++")
          stayc++;
          console.log(tweet);
        }
        else{
          console.log("Only Remain Tag Found! stay++")
          stayc++;
          console.log(tweet);
        }
      }
      else if (manualLeaveCheck(tweet) == true){
        console.log("Leave Tag Found! Checking...")
        if (manualRemainCheck(tweet)==true){
          console.log("Remain Tag Found! other++")
          otherc++;
          console.log(tweet);
        }
        else if(tweetSearch(tweet, 'brexit')==true){
          console.log("Brexit Tag Found! leave++")
          leave++;
          console.log(tweet);
        }
        else{
          console.log("Only Remain Tag Found! leave++")
          leavec++;
          console.log(tweet);
        }
      }
      else if(tweetSearch(tweet, 'brexit')== true){
        console.log("Only Brexit Tag Found! other++")
        otherc++;
        console.log(tweet);
      }
    }

    //$(".party").animate({ 'zoom':  }, 0);









</script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
</body>
</html>
