<html>
<head>
    <title>Holyrood Tweets</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/d3.v3.min.js'></script>
    <script src="/scripts/cubism.v1.min.js"></script>
    <style>
      @import url(/stylesheets/cubestyle.css);
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
        #snpgraph{ min-height: 155px; }
    </style>

</head>
<body>
<div id="top">
<p>
    Holyrood 2016
    <span id='totals'> </span>


</p>
<p>
  <span id='snp'> </span><span id='tor'> </span><span id='lab'> </span><span id='lib'> </span><span id='gre'> </span><span id='uki'> </span>
  <span id='snp1'> </span><span id='tor1'> </span><span id='lab1'> </span><span id='lib1'> </span><span id='gre1'> </span><span id='uki1'> </span>

</p>

<div id="tweets"></div>
</div>
<div id="snpgraph"></div>
<script>
function random(name) {
  var value = 0,
      values = [],
      i = 0,
      last;
      return context.metric(function(start, stop, step, callback) {
    start = +start, stop = +stop;
    if (isNaN(last)) last = start;
    while (last < stop) {
      last += step;
      //value = Math.max(-10, Math.min(10, value + .8 * Math.random() - .4 + .2 * Math.cos(i += .2)));
      values.push(snpc);
    }
    callback(null, values = values.slice((start - stop) / step));
  }, name);
}



var context = cubism.context()
    .serverDelay(0)
    .clientDelay(0)
    .step(1e3)
    .size(960);

    var foo = random("foo"),
        bar = random("bar");

var snpc=0;
var labc=0;
var libc=0;
var ukic=0;
var grec=0;
var torc=0;


var dataSnp = [];

d3.select("#snpgraph").call(function(div)
{

  div.datum(dataSnp);
  snpc =0;

  div.append("div")
    .attr("class", "horizon")
    .call(context.horizon()
      .height(120)
      .colors(["#bdd7e7","#bae4b3"])
      .title("Horizon, 1-band (120px)")
      .extent([-10, 10]));


});
var socket = io();


    socket.on('count', function(data) {
        //console.log(data.count);
        //console.log(data[0]);
        document.getElementById('snp1').innerHTML = "SNP: "+data.count.snp+" ";
        document.getElementById('lab1').innerHTML = "Labour: "+data.count.lab+" ";
        document.getElementById('lib1').innerHTML = "LibDem: "+data.count.lib+" ";
        document.getElementById('tor1').innerHTML = "Tory: "+data.count.tor+" ";
        document.getElementById('uki1').innerHTML = "UKIP: "+data.count.uki+" ";
        document.getElementById('gre1').innerHTML = "Green: "+data.count.gre+" ";
    });
    socket.on('tweet', function(data) {
        addMessage(data.tweet);
        if(data.party=='snp'){
          snpc++;
        }
        else if(data.party=='lab'){
          labc++;
        }
        else if(data.party=='lib'){
          libc++;
        }
        else if(data.party=='gre'){
          grec++;
        }
        else if(data.party=='tor'){
          torc++;
        }
        else if(data.party=='uki'){
          ukic++;
        }
console.log("count "+snpc);
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });

    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(tweet) {
      document.getElementById('tweets').innerHTML =
      "<h3>"+tweet+"</h3>"

        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }





</script>
</body>
</html>
