<html>
<head>
    <title>Holyrood Tweets</title>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/scripts/d3.v3.min.js'></script>
    <style>
        #map { width: 800px; height: 600px; }
        body { font: 16px/1.4 "Helvetica Neue", Arial, sans-serif; }
        .ghbtns { position: relative; top: 4px; margin-left: 5px; }
        a { color: #0077ff; }
    </style>

</head>
<body>

<p>
    Holyrood 2016
    <span id='totals'> </span>


</p>
<p>
  <span id='snp'> </span><span id='tor'> </span><span id='lab'> </span><span id='lib'> </span><span id='gre'> </span><span id='uki'> </span>
  <span id='snp1'> </span><span id='tor1'> </span><span id='lab1'> </span><span id='lib1'> </span><span id='gre1'> </span><span id='uki1'> </span>

</p>

<div id="tweets"></div>
<div id="graphs">
  <script>
  var snpc=0;
  (function() {

  var n = 243,
      duration = 750,
      now = new Date(Date.now() - duration),
      count = 0,
      dataSnp = d3.range(n).map(function() { return 0; }),
      dataLab = d3.range(n).map(function() { return 0; }),
      dataLib = d3.range(n).map(function() { return 0; }),
      dataGre = d3.range(n).map(function() { return 0; }),
      dataUki = d3.range(n).map(function() { return 0; }),
      dataTor = d3.range(n).map(function() { return 0; });

  var margin = {top: 6, right: 0, bottom: 20, left: 40},
      width = 960 - margin.right,
      height = 600 - margin.top - margin.bottom;

  var x = d3.time.scale()
      .domain([now - (n - 2) * duration, now - duration])
      .range([0, width]);

  var y = d3.scale.linear()
      .range([height, 0]);

  var line = d3.svg.line()
      .interpolate("basis")
      .x(function(d, i) { return x(now - (n - 1 - i) * duration); })
      .y(function(d, i) { return y(d); });

  var svg = d3.select("body").append("p").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .style("margin-left", -margin.left + "px")
    .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.append("defs").append("clipPath")
      .attr("id", "clip")
    .append("rect")
      .attr("width", width)
      .attr("height", height);

  var axis = svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(x.axis = d3.svg.axis().scale(x).orient("bottom"));

  var paths = svg.append("g").attr("clip-path", "url(#clip)")
    .append("path").datum(dataSnp).attr("class", "line").attr("stroke", "yellow") .attr("fill", "yellow")
    .append("path").datum(dataLab).attr("class", "line").attr("stroke", "red")    .attr("fill", "red")
    .append("path").datum(dataLib).attr("class", "line").attr("stroke", "orange") .attr("fill", "orange")
    .append("path").datum(dataGre).attr("class", "line").attr("stroke", "green")  .attr("fill", "green")
    .append("path").datum(dataUki).attr("class", "line").attr("stroke", "purple") .attr("fill", "purple")
    .append("path").datum(dataTor).attr("class", "line").attr("stroke", "blue")   .attr("fill", "blue")
    ;

  var transition = d3.select({}).transition()
      .duration(750)
      .ease("linear");


  (function tick() {
    transition = transition.each(function() {
      var maxs=[];
      maxs.push(d3.max(dataSnp));
      maxs.push(d3.max(dataLab));
      maxs.push(d3.max(dataLib));
      maxs.push(d3.max(dataGre));
      maxs.push(d3.max(dataUki));
      maxs.push(d3.max(dataTor));
      var realmax = d3.max(maxs);
      // update the domains
      now = new Date();
      x.domain([now - (n - 2) * duration, now - duration]);
      y.domain([0, realmax]);

      //document.getElementById('snp').innerHTML = "snp: "+snpc;
      // push the accumulated count onto the back, and reset the count
      dataSnp.push(snpc);
      dataLab.push(labc);
      dataLib.push(libc);
      dataGre.push(grec);
      dataUki.push(ukic);
      dataTor.push(torc);

      count = 0;


      // redraw the line
      svg.select(".line")
          .attr("d", line)
          .attr("transform", null);

      // slide the x-axis left
      axis.call(x.axis);

      // slide the line left
      path.transition()
          .attr("transform", "translate(" + x(now - (n - 1) * duration) + ")");

      // pop the old data point off the front
      data.shift();
//clearcounts();

    }).transition().each("start", tick);
  })();

  })()
  </script>
</div>





<script>


    var socket = io();


    socket.on('welcome', function(data) {
        addMessage(data.message);
        //socket.emit('graphready', {d:'ready'});
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });

    socket.on('count', function(data) {
        //console.log(data.count);
        //console.log(data[0]);
        document.getElementById('snp1').innerHTML = "SNP: "+data.count.snp+" ";
        document.getElementById('lab1').innerHTML = "Labour: "+data.count.lab+" ";
        document.getElementById('lib1').innerHTML = "LibDem: "+data.count.lib+" ";
        document.getElementById('tor1').innerHTML = "Tory: "+data.count.tor+" ";
        document.getElementById('uki1').innerHTML = "UKIP: "+data.count.uki+" ";
        document.getElementById('gre1').innerHTML = "Green: "+data.count.gre+" ";
    });
    socket.on('tweet', function(data) {
        addMessage(data.tweet);
        if(data.party=='snp'){
          snpc++;
        }
        else if(data.party=='lab'){
          labc++;
        }
        else if(data.party=='lib'){
          libc++;
        }
        else if(data.party=='gre'){
          grec++;
        }
        else if(data.party=='tor'){
          torc++;
        }
        else if(data.party=='uki'){
          ukic++;
        }
console.log("count "+snpc);
        // Respond with a message including this clients' id sent from the server
        //socket.emit('i am client', {data: 'foo!', id: data.id});
    });

    //socket.on('tweet', function(data) {
    //    console.log(data);

    //});
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));
    socket.on('data', console.log.bind(console));

    function addMessage(tweet) {
      document.getElementById('tweets').innerHTML =
      "<h3>"+tweet+"</h3>"

        //var text = document.createTextNode(JSON.stringify(message));
            //console.log(message);
    }





</script>
</body>
</html>
