<style>
/*Piechart CSS*/
body{width:1060px;margin:50px auto;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}path{stroke:#fff}path:hover{opacity:.9}.axis line,.axis path{fill:none;stroke:#000;shape-rendering:crispEdges}.x.axis path{display:none}.legend{font-size:12px}rect{stroke-width:2}.legend td{padding:4px 5px;vertical-align:bottom}.legendFreq,.legendPerc{align:right;width:50px}.pie{position: relative; margin: 20px 20px 20px 20px};
/*Hover on Pie CSS*/
/*.tooltip{background: #eee;box-shadow: 0 0 5px #999999;color: #333;display: none;font-size: 12px;left: 130px;padding: 10px;position: absolute;text-align: center;top: 95px;width: 80px;z-index: 10;}.pSpace{margin: 20px;}*/
/*Text CSS*/
.words{width: 380px;margin-top: 40px;}.in{color: #dbdb8d}.out{color: #9edae5;}
/*Title CSS*/
.title{margin-bottom: 40px;}
/*Container CSS*/
#container1{margin: 0px 30px 0px 30px;}
</style>

<script>
//GET DATA PASSED FROM MONGO =========================================
console.log(dataset)
//Make data into JSON object, cause d3 just loves that shit
var leaveRemainData = [
  {"tag":"Leave", "count":dataset.count.out},
  {"tag":"Remain", "count":dataset.count.in}
];

var hashVHighData = [
  {"tag":"#brexit", "count":dataset.brexit},
  {"tag":"#strongerin", "count":dataset.strongerin},
  {"tag":"#voteleave", "count":dataset.voteleave}
];

var hashHighData = [
  {"tag":"#bremain", "count":dataset.bremain},
  {"tag":"#voteremain", "count":dataset.voteremain},
  {"tag":"#betteroffout", "count":dataset.betteroffout},
  {"tag":"#voteout", "count":dataset.voteout},
  {"tag":"#leaveeu", "count":dataset.leaveeu}
];

var hashMedData = [
  {"tag":"#votein", "count":dataset.votein},
  {"tag":"#ukineu", "count":dataset.ukineu},
  {"tag":"#no2eu", "count":dataset.no2eu},
  {"tag":"#britainout", "count":dataset.britainout},
  {"tag":"#beleave", "count":dataset.beleave}
];

var hashLowData = [
  {"tag":"#betteroffin", "count":dataset.betteroffin},
  {"tag":"#leadnotleave", "count":dataset.leadnotleave},
  {"tag":"#notoeu", "count":dataset.notoeu},
  {"tag":"#yes2eu", "count":dataset.yes2eu},
  {"tag":"#yestoeu", "count":dataset.yestoeu}
];

//BREXIT TAG TEST MANIPULATION ===================================================
var tagTotal = dataset.brexit + dataset.strongerin + dataset.voteleave + dataset.bremain +
  dataset.voteremain + dataset.betteroffout + dataset.voteout + dataset.leaveeu +
  dataset.votein + dataset.ukineu + dataset.no2eu + dataset.britainout + dataset.beleave +
  dataset.betteroffin + dataset.leadnotleave + dataset.notoeu + dataset.yes2eu + dataset.yestoeu ;

var tagStayTotal = dataset.strongerin + dataset.bremain + dataset.voteremain + dataset.votein +
  dataset.ukineu + dataset.betteroffin + dataset.leadnotleave + dataset.yes2eu + dataset.yestoeu ;

var tagLeaveTotal = dataset.voteleave + dataset.betteroffout + dataset.voteout + dataset.leaveeu +
  dataset.no2eu + dataset.britainout + dataset.beleave + dataset.notoeu ;

var tagBrexitTotal = tagTotal - tagStayTotal - tagLeaveTotal;

var tagStayPercent = roundToTwo((tagStayTotal/tagTotal) * 100);
var tagLeavePercent = roundToTwo((tagLeaveTotal/tagTotal) * 100);
var tagBrexitPercent = 100 - tagStayPercent - tagLeavePercent;

var tagData = [
  {"tag":"Remain", "count": tagStayTotal},
  {"tag":"Leave", "count": tagLeaveTotal},
  {"tag":"#Brexit", "count": tagBrexitTotal }
];

//JUST A ROUNDING FUNCTION ========================================================
function roundToTwo(num) {
  return +(Math.round(num + "e+2")  + "e-2");
};

var incount = dataset.count.in;
var outcount = dataset.count.out;
var total = incount + outcount;
var inpercent = roundToTwo((incount / total) * 100);
var outpercent = 100 - inpercent;

//FUNCTION TO MAKE PIE ===================================================
  function pieMaker (id, countdata){
    //set pie dimentions
    var width = 250;
    var height = 250;
    var radius = Math.min(width, height)/2;
    var donutWidth = 55;

    //set legend dimentions
    var legendRectSize = 18;
    var legendSpacing = 4;

    //define own pretty color scheme
    var color = d3.scale.ordinal()
      .range(['#9edae5', "#dbdb8d", "#c7c7c7", "#b4db8d", "#dbb48d", "#e59eda","9ee5cd", "#e5a99e", "#e5cd9e", "#a99ee5", "#a99ee5"]);

    //create pie requisites
    //attatching to specified div
    var svg = d3.select(id)
      .append('svg')
      .attr('width', width)
      .attr('height', height)
      .append('g')
      .attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')');

    //pie arc
    var arc = d3.svg.arc()
      .innerRadius(radius - donutWidth)
      .outerRadius(radius);

    //create pie object
    var pie = d3.layout.pie()
      .value(function(d) { return d.count; })
      .sort(null);

    var path = svg.selectAll('path')
      .data(pie(countdata))
      .enter()
      .append('path')
      .attr('d', arc)
      .attr('fill', function(d, i){
        return color(d.data.tag);
      });

    /*path.on('mouseover', function(d){
      var mtotal = d3.sum(dataset.map(function(d) {
        return d.count;
      }));
      var percent = Math.round(1000 * d.data.count / mtotal) / 10;
      tooltip.select('.label').html(d.data.label);
      tooltip.select('.count').html(d.data.count);
      tooltip.select('.percent').html(percent + '%');
      tooltip.style('display', 'block');
    });

    path.on('mouseout', function(d){
      tooltip.style('display', 'none');
    });*/

    //set legend dimentions
    var legend = svg.selectAll('.legend')
      .data(color.domain())
      .enter()
      .append('g')
      .attr('class', 'legend')
      .attr('transform', function(d,i){
        var height = legendRectSize + legendSpacing;
        var offset =  height * color.domain().length / 2;
        var horz = -2 * legendRectSize;
        var vert = i * height - offset;
        return 'translate(' + horz + ',' + vert + ')';
      });

    //make legend
    legend.append('rect')
      .attr('width', legendRectSize)
      .attr('height', legendRectSize)
      .style('fill', color)
      .style('stroke', color);

    //add text to legend
    legend.append('text')
      .attr('x', legendRectSize + legendSpacing)
      .attr('y', legendRectSize - legendSpacing)
      .text(function(d) { return d; });

    /*
    var tooltip = d3.select(id)
      .append('div')
      .attr('class', 'tooltip');

    tooltip.append('div')
      .attr('class', 'label');

    tooltip.append('div')
      .attr('class', 'count');

    tooltip.append('div')
      .attr('class', 'percent');
*/
    }
  //FUNCTION TO MAKE TEXT =============================================
  function pietext(){
    d3.select('#in')
      .append('text')
      .text(inpercent)

    d3.select('#out')
      .append('text')
      .text(outpercent)

    d3.select('#inTag')
      .append('text')
      .text(tagStayPercent)

    d3.select('#outTag')
      .append('text')
      .text(tagLeavePercent)

  }

  //FUNCTION TO MAKE LINE =============================================
  function lineMaker(id, data){

  }


  //MAKE PIE CHARTS ====================================================
  //~~~~~~~ Leave/Remain Piechart ~~~~~~~
  pieMaker('#lrPie', leaveRemainData);
  pieMaker('#tagBrexitPie', tagData);
  pietext();

  //~~~~~~~ Leave/Remain Piechart ~~~~~~~
  pieMaker('#hashLowPie', hashLowData);
  pieMaker('#hashMedPie', hashMedData);
  pieMaker('#hashHighPie', hashHighData);
  pieMaker('#hashVHighPie', hashVHighData);
  lineMaker('#linie', leaveRemainData);

</script>
